*{
    padding: 0;
    margin:0 ;
    border: 0;
    box-sizing: border-box;
    }
    
    /* Estilos Globais */
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* Cabeçalho */
    header {
        background-color: #343a40;
        color: #fff;
        padding: 20px 0;
    }
    header h1 {
        margin: 0;
        font-size: 36px;
    }
    header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    header nav ul li {
        display: inline;
        margin-right: 20px;
    }
    
    /* Seções */
    section {
        margin-bottom: 30px;
    }
    
    /* Cards */
    .card {
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: box-shadow 0.3s;
    }
    .card:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .card img {
        max-width: 100%;
    }
    
    /* Rodapé */
    footer {
        margin-top: 50px;
        background-color: #343a40;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }
    footer p {
        margin: 0;
    }
    
    /* Carrossel */
    .carousel-item img {
        max-height: 800px;
    }
    
    /* Grade de Fotos */
    .col-md-3 img {
        width: 100%;
        border-radius: 5px;
    }
    
    