body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

section {
    margin-bottom: 40px;
    
}

img.rounded-circle {
    border-radius: 50%;
}
.carousel-item {
    text-align: center;
}
.carousel-item img {
    border-radius: 50%;
    margin-bottom: 15px;
}
.info {
    margin: 10px 0;
}
.carousel-controls {
    margin-top: 20px;
}